@import "tailwindcss";


@theme {
  --color-custom-blue: #0D47A1;
  --color-custom-green: #76FF03;
  --color-custom-pink: #E91E63;
  --color-custom-yellow: #FBC02D;
  --color-custom-orange: #FF6F00;
  --color-custom-black: #212121;
  --color-custom-dark-gray: #424242;
  --color-custom-light-gray: #E0E0E0;
  --color-custom-white: #FFFFFF;
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
