-- CreateTable
CREATE TABLE `evento` (
    `id_evento` INTEGER NOT NULL AUTO_INCREMENT,
    `titulo` VARCHAR(35) NOT NULL,
    `dt_inicio` DATE NOT NULL,
    `dt_termino` DATE NOT NULL,
    `localizacao` VARCHAR(45) NOT NULL,
    `capacidade_total` INTEGER NOT NULL,
    `capacidade_atual` INTEGER NOT NULL,
    `criador_id_usuario` INTEGER NULL,

    UNIQUE INDEX `titulo_UNIQUE`(`titulo`),
    INDEX `fk_evento_usuario1_idx`(`criador_id_usuario`),
    PRIMARY KEY (`id_evento`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `ingresso` (
    `id_ingresso` INTEGER NOT NULL AUTO_INCREMENT,
    `codigo` VARCHAR(6) NOT NULL,
    `nome_completo` VARCHAR(100) NOT NULL,
    `email` VARCHAR(45) NOT NULL,
    `cpf` VARCHAR(11) NOT NULL,
    `situacao` ENUM('ativo', 'utilizado', 'cancelado') NOT NULL DEFAULT 'ativo',
    `validador_id_usuario` INTEGER NULL,
    `criador_id_usuario` INTEGER NULL,
    `setor_id_setor` INTEGER NOT NULL,

    UNIQUE INDEX `codigo_UNIQUE`(`codigo`),
    INDEX `fk_ingresso_setor1_idx`(`setor_id_setor`),
    INDEX `fk_ingresso_usuario1_idx`(`criador_id_usuario`),
    INDEX `fk_ingresso_usuario2_idx`(`validador_id_usuario`),
    PRIMARY KEY (`id_ingresso`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `perfil` (
    `id_perfil` INTEGER NOT NULL,
    `titulo` VARCHAR(15) NOT NULL,

    PRIMARY KEY (`id_perfil`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `setor` (
    `id_setor` INTEGER NOT NULL AUTO_INCREMENT,
    `titulo` VARCHAR(20) NOT NULL,
    `capacidade_total` INTEGER NOT NULL,
    `capacidade_atual` INTEGER NOT NULL,
    `evento_id_evento` INTEGER NOT NULL,

    INDEX `fk_setor_evento1_idx`(`evento_id_evento`),
    PRIMARY KEY (`id_setor`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `usuario` (
    `id_usuario` INTEGER NOT NULL AUTO_INCREMENT,
    `nome_completo` VARCHAR(100) NOT NULL,
    `email` VARCHAR(45) NOT NULL,
    `cpf` VARCHAR(11) NOT NULL,
    `senha` VARCHAR(64) NOT NULL,
    `criador_id_usuario` INTEGER NULL,
    `perfil_id_perfil` INTEGER NOT NULL,

    UNIQUE INDEX `email_UNIQUE`(`email`),
    UNIQUE INDEX `cpf_UNIQUE`(`cpf`),
    INDEX `fk_usuario_perfil_idx`(`perfil_id_perfil`),
    INDEX `fk_usuario_usuario1_idx`(`criador_id_usuario`),
    PRIMARY KEY (`id_usuario`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- AddForeignKey
ALTER TABLE `evento` ADD CONSTRAINT `fk_evento_usuario1` FOREIGN KEY (`criador_id_usuario`) REFERENCES `usuario`(`id_usuario`) ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `ingresso` ADD CONSTRAINT `fk_ingresso_setor1` FOREIGN KEY (`setor_id_setor`) REFERENCES `setor`(`id_setor`) ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `ingresso` ADD CONSTRAINT `fk_ingresso_usuario1` FOREIGN KEY (`criador_id_usuario`) REFERENCES `usuario`(`id_usuario`) ON DELETE SET NULL ON UPDATE SET NULL;

-- AddForeignKey
ALTER TABLE `ingresso` ADD CONSTRAINT `fk_ingresso_usuario2` FOREIGN KEY (`validador_id_usuario`) REFERENCES `usuario`(`id_usuario`) ON DELETE SET NULL ON UPDATE SET NULL;

-- AddForeignKey
ALTER TABLE `setor` ADD CONSTRAINT `fk_setor_evento1` FOREIGN KEY (`evento_id_evento`) REFERENCES `evento`(`id_evento`) ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `usuario` ADD CONSTRAINT `fk_usuario_perfil` FOREIGN KEY (`perfil_id_perfil`) REFERENCES `perfil`(`id_perfil`) ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `usuario` ADD CONSTRAINT `fk_usuario_usuario1` FOREIGN KEY (`criador_id_usuario`) REFERENCES `usuario`(`id_usuario`) ON DELETE NO ACTION ON UPDATE SET NULL;

